html,
body {
	height: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	@include adaptiv-value("font-size", 18, 16, 1);
	font-feature-settings: "lnum"; 
	font-weight: 400;
	line-height: 1.7;
	background-color: #ffffff;
	color: #3D3C3C;
}
.container{
	max-width: 1830px;
	margin: 0 auto;
	padding: 0 15px;
}



